:root {
  --darkgreen: #123524;
  --background: #3E7B27;
  --foreground: #85A947;
  --textcolor: #EFE3C2;
}

* {
  box-sizing: border-box;
}

*:not(ul, li) {
  margin: 0;
  padding: 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --darkgreen: #123524;
    --background: #3E7B27;
    --foreground: #85A947;
    --textcolor: #EFE3C2;
  }
}

body {
  height: 100%;
  width: 100%;
  
  background-color: #3E7B27;
}

header {
  height: 10%;
  width: 100%;

  z-index: 1;
}

nav {
  /* position */
  order: -1;
  
  /* size */
  height: 100%;
  flex: 1;

  /* outlines */
  margin: 0;
  border: 0;
  padding: 0;

  /* styles */
  list-style-type: none;
  overflow: auto;
}

