header {
  position: relative;

  /* position */
  order: 0;
  z-index: 1;

  /* size */
  height: 10%;
  width: 100%;

  /* outlines */
  margin: 0;
  border: 0;
  padding: 0;

  /* interior */
  background-color: #3E7B27;

  /* text */
  color: white;
  text-align: center;

  /* display */
  display: flex;
  align-items: center;
}

.leftTyroContainer {
  flex: 1;
  order: 0;
  height: 100%;
  text-align: center;
  vertical-align: middle;
}

.headerText {
  flex: 8;
  order: 1;
  height: 100%;
  text-align: center;
  vertical-align: middle;
}

.rightTyroContainer {
  flex: 1;
  order: 2;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  transform: scaleX(-1);
}

.logo.pop-image {
  opacity: 0;
  transform: scale(0.7) rotate(0deg);
  transition: opacity 0.3s, transform 0.3s;
  will-change: opacity, transform;
}
.logo.pop-image.visible {
  opacity: 1;
  transform: scale(1) rotate(0deg);
}